<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Around me radius (from 10 m to 1 km)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>kAroundRadius</string>
			<key>DefaultValue</key>
			<integer>300</integer>
			<key>MinimumValue</key>
			<integer>10</integer>
			<key>MaximumValue</key>
			<integer>1000</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Amount of items per page</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Stones</string>
			<key>Key</key>
			<string>kStonesPerPage</string>
			<key>DefaultValue</key>
			<integer>5</integer>
			<key>Values</key>
			<array>
				<integer>5</integer>
				<integer>10</integer>
				<integer>20</integer>
				<integer>50</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>5</string>
				<string>10</string>
				<string>20</string>
				<string>50</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Stacks</string>
			<key>Key</key>
			<string>kStacksPerPage</string>
			<key>DefaultValue</key>
			<integer>5</integer>
			<key>Values</key>
			<array>
				<integer>5</integer>
				<integer>10</integer>
				<integer>20</integer>
				<integer>50</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>5</string>
				<string>10</string>
				<string>20</string>
				<string>50</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Tags</string>
			<key>Key</key>
			<string>kTagsPerPage</string>
			<key>DefaultValue</key>
			<integer>10</integer>
			<key>Values</key>
			<array>
				<integer>10</integer>
				<integer>20</integer>
				<integer>50</integer>
				<integer>60</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>10</string>
				<string>20</string>
				<string>50</string>
				<string>60</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Authors</string>
			<key>Key</key>
			<string>kAuthorsPerPage</string>
			<key>DefaultValue</key>
			<integer>5</integer>
			<key>Values</key>
			<array>
				<integer>5</integer>
				<integer>10</integer>
				<integer>20</integer>
				<integer>50</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>5</string>
				<string>10</string>
				<string>20</string>
				<string>50</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
